@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary-black text-primary-white overflow-x-hidden;
    font-size: 16px;
  }
  
  #root {
    @apply min-h-screen;
  }
}

@layer components {
  /* Scrollbar styling */
  ::-webkit-scrollbar {
    @apply w-1.5 h-1.5;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-secondary-black;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-primary-red rounded;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-red-hover;
  }
  
  @media (min-width: 768px) {
    ::-webkit-scrollbar {
      @apply w-2 h-2;
    }
  }
}

@layer utilities {
  .btn-touch {
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
  }
}
